.navbar-nav>li>a {
  border-bottom: 2px solid #000;
  font-weight: bold;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}


.menu-title {
  padding-bottom: 25px;
}

#chicken,
#beef,
#sushi {
  min-height: 1000px;
  background-color: lightgray;
  margin-bottom: 30px;
  padding: 0 40px 10px;
  color: #000000;
}



@media (max-width: 768px) {

  #chicken,
  #beef,
  #sushi {
    margin-right: 15vw;
    margin-left: 15vw;
    padding: 0 5vw 10px;
  }
}